@charset "UTF-8";

html{
    height: 100%;
    margin: 0;
}

body {
    color: #070507;
     background: linear-gradient(to right, #800080, #f582f1);
    background-attachment: fixed;
    font-family: "Comic Sans MS", "Comic Sans";
    height: 100%;
    margin: 0;
}

.cake{
    width: 100px;
    height: 100px;

}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: flex; 
    justify-content: space-between; 
    height: 100%;
    width: 100%;
}


.left {
    flex: 1; 
    width: 25%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    overflow-y: auto;
}


.center {
    flex: 1; 
    width: 50%; 
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    background-image: url(Cafe\ Background.png);
    background-position: center;
    background-size: cover;
    padding-top: 25px;
}

.top{
    height: 90%;
}

.Social{
    height: 10%;
}

.right {
    flex: 1; 
    width: 25%; 
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.top-right{
    overflow-y: auto;
}

.Upgrades{
    width: 75%;
    height: 150px;
    padding-left: 50px;
}


.tier{
    background: transparent;
    height: 50px;
    width: 50px;
     border: 5px solid #555;
}

.Buildings{
    overflow-y: auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
}

.store-wrapper {
    width: 200px;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.store{
    padding-left: 20px;
    padding-right: 30px;
    height: 50%;
    width: 80%;
    object-fit: contain;
}


.area{
    vertical-align: top;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;  
}

image-stack img {
    display: block;
    width: 100%; 
    margin-bottom: 10px; 
}

.thing {
    border-radius: 8px;
    background: rgba(255, 255, 255, .05);
}

.thing-icon, .particle {
    width: 64px;
    height: 64px;
}

#game.filterOn .things.cantAfford.notOwned{
    filter:blur(3px); 
    
}
